body{
    padding:0;
    margin:0;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color:#1E1E28;
    color: white;
    display:flex;
    flex-direction: column;
    min-height:100vh;
    width: 100%;
    overflow-x: hidden;
}

header{
    display:flex;
    width: 100%;
    height:9vh;
    /* background-color: red; */
}
/* Contenedor dentro de la cabecera */
.containerHead{
    width: 90%;
    display:flex;
    align-items: center;
    margin:auto;
    gap:5px;
    /* background-color: blue; */
}
.containerHead img{
    width: 35px;
    border-radius: 50%;
}
.containerHead button{
    border:none;
    border-radius:1em;
    padding:6px 12px;
    background-color: #393E46;
    color:#cfcece;
    /* box-shadow: rgb(155, 126, 189) 0px 50px 100px -20px, rgb(155, 126, 189) 0px 80px 80px -30px, rgb(148, 111, 190) 0px -5px 10px 0px inset; */
}
.botonActivo{
    /* box-shadow: rgb(155, 126, 189) 0px 50px 100px -20px, rgb(155, 126, 189) 0px 80px 80px -30px, rgb(148, 111, 190) 0px -5px 10px 0px inset;  */
    box-shadow:
  /* Primera capa: El brillo principal y más cercano al borde */
  rgb(200, 180, 240) 0px 0px 40px -5px, /* Un morado más claro y brillante, sin desplazamiento, con buen desenfoque, y ligero 'spread' negativo para que no se salga */

  /* Segunda capa: Un brillo secundario, un poco más difuso */
  rgb(180, 150, 220) 0px 0px 70px -15px, /* Otro morado claro, más desenfoque, 'spread' más negativo para mantenerlo contenido */
  /* Mantienes tu sombra interna, que ayuda a definir el borde y le da profundidad */
rgb(148, 111, 190) 0px -5px 10px 0px inset;
}

/* 
box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;

*/

/* Pie de pagina */
footer{
    display:flex;
    flex-direction: column;
    /* margin-top:auto; */
    width: 100%;
    position: sticky;
    top:200px
}

.containerPie{
    display:flex;
    justify-content: space-around;
}.containerPie button{
    display:flex;
    flex-direction: column;
    align-items: center;
    gap:5px;
    width: 100%;
    padding:5px 0;
    background-color: transparent;
    border:none;
    fill:#cfcece;
    color:#cfcece
}


.svgPie{
    width: 20px;
    height: 20px;
}
.svgVisible{
    position:none;
    opacity: 1;
    transition: opacity 1s linear
}
.svgOculto{
    position:absolute;
    opacity: 0;
    transition: opacity 1s linear;
}
/* Los siguientes diseños son para los svg y que esten en un tamaño considerable */
.libroOculto,.lupaOculta,.casaOculta,.casaActiva,.lupaActiva,.libroActivo{
    width: 20px;
    height: 20px;
    transition: width 1s ease, height 1s ease;
}

.contReproductor{
    width: 95%;
    display:flex;
    flex-direction: row;
    background-color:#cfcece;
    justify-content: center;
    align-items: center;
    margin:auto;
    border-radius: .7em;
    padding:5px 5px
}
.contInfoSong{
    overflow-x: hidden;
    font-size: 14px;
}
.contInfoSong p{
    margin:0;
    font-size: 16px;
}
.contBtnAmpliar{
    display:flex;
    justify-content:center;
    align-items: center;
    gap:10px
}
.contImg{
    display:flex;
    align-items: center;
    justify-content: center;
}
.imgPortadaMini{
    width: 40px;
}

.btnEstado{
    background-color: transparent;
    border:none;
    fill:#cfcece;
    display:flex;
    align-items: center;
    justify-content: center;
}
/* SVG de los estado pausar y reproducir */
.svgPausar,.svgReproducir{
    width: 20px;
    height: 20px;
    fill:#cfcece;
}

/* Este bloque es para ocultar los svg cuando se presiona uno u otro, por esto mismo es necesario  para activar y desactivar */
.ocultar{
    height: 0;
    width: 0;
    transition: width 1s ease, height 1s ease;
}

/* .Contenedores centrales de la app */
.contGeneral,.contMusica,.contAmigos,.contBuscar,.contBiblioteca{
    width: 100%;
    display:flex;
    flex: column;
    margin:auto;
    position:absolute;
    opacity:1;
    transition: opacity 0.7s linear
}

.mostrarContenedor{
    visibility:visible;
}
.ocultarContenedor{
    opacity:0;
    visibility: hidden;
}
/* Contenedor de general*/
/* Este estilo contendra el general de las tarjetas de la playlist */
.contCentral {
    display: flex;
    flex-direction: column; 
    flex-grow: 1; 
    overflow: hidden; 
    overflow-y: auto;
    width: 100%; 
    position: relative;  
}

.contGeneral{
    display:flex;
    flex-direction: column;
}
.contPlayList,.contAmigosList{
    display:flex;
    flex-direction: column;
    width: 100%;
    padding:15px;
}
/* Este estilo es el que contendra las diferentes tarjetas */
.contTarget, .contTargetAmigos{
    display:flex;
    flex-direction: row;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch; 
    /* justify-content:flex-start; */
    align-items: center;
    padding:20px 50px 20px 15px ;
    /* padding-right: 200px; */
    /* margin-right: 900px;  */
    gap:20px;
    scrollbar-width: none;  
    -ms-overflow-style: none; 
    position:relative;
    width: 90%;
    flex-wrap: nowrap;
}
.contTarget::-webkit-scrollbar {
    display: none; 
}
/* Diseño general de la tarjeta o card */
.card,.cardAmigo{
    /* width: 51.8%; */
    width: 160px;
    flex-shrink: 0;
    display:flex;
    flex-direction: column;
    border-radius:1.5em;
    background-color:#2A2A3A ;
    box-shadow: 0 8px 16px rgba(130, 130, 130, 0.277);
    /* margin-left:auto; */
}
.cardImg{
    /* width: 45vw; */
    width: 160px;
    /* width: 100%; */
    height: 185px;
    /* height: 20vh; */
    overflow: hidden;
    object-fit: contain;
}
.cardPortada{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius:1.2em;

}
.cardInfo{
    display:flex;
    flex-direction: column;
    padding:.5em 1.5em;
    gap:1em;
} 
.entrar{
    width: 100%;
    color:#2A2A3A ;
    background-color: #E0E0E0;
    padding:5px;
    border-radius: .7em;
    border:none;
    box-shadow: 0 8px 16px rgba(224, 224, 224, 0.4);
    opacity: 1;
    transition:opacity 1s linear;
}
.playListTitulo{
    color: #E0E0E0;
    font-weight: 600;
    margin:0;
}
.subInfoPlay{
    color: #A0A0A0;
    margin:0;
    font-weight: 400;
}

/* El siguiente bloque es el que ocultara a la seccion seccion
de la informacion de la playlist */
.ocultarBtn{
    position: absolute;
    opacity: 0;
    visibility: hidden;
    width: 0;
    padding:0;
}
.mostrarBtn{
    visibility: visible;
}
/* CardAmigo */
.cardAmigo{
    border-radius: 0px;
    background-color: transparent;
    backdrop-filter: grayscale(1);
    box-shadow: 0 8px 16px rgb(130, 130, 130);
}
.imgAmigo{
    width: 100%;
    height: 175px;
    object-fit:cover;
}
.viajarAmigo{
    width: 35px;
}
.contInfo{
    width: 100%;
    max-width: 100%;
    /* height: 100%; */
    display:flex;
    flex-direction: row;
    position:absolute;
    z-index: 1;
    /* justify-content: space-between; */
    align-items:flex-end;
    /* padding:0 0 0 5px; */
    backdrop-filter: grayscale(2);
    /* backdrop-filter: invert(.7); */
    color:black;
    top:70%
}
.contInfo p{
    margin:0 10px 5px 10px;
}
/* Contenedor de las canciones */

.containerMusica{
    display:flex;
    flex-direction: column;
    width: 100%;
    padding: 10px;
}
.buscar{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:20px;
    margin-top:15px;
    position:sticky;
    top:0
}

.inBuscar{
    display:flex;
    width: 70%;
    padding:3px;
    color:aliceblue;
    background-color: transparent;
    border:none;
    border-bottom:2px solid #FFF;
    font-size: 15px;
}
.svgBuscar{
    fill: #FFF;
}
.agregarSong{
    width: 30px;
    fill: #FFF;
}

input:focus{
    outline: none;
}
.contCardCancion{
    display:flex;
    flex-direction: column;
    overflow-y: hidden;
}
.cardCancion{
    width: 100%;
    display:flex;
    align-items: center;
    gap:20px;
    padding:15px 0 10px;
}
.imgCancionP{
    width: 50px;
    border-radius: .4em;
}
.contInfoCancion{
    width: 66%;
}.contInfoCancion p{
    margin:0;
}
.svgCancion{
    fill: #FFF;
}

/* Alerta de la creacion de la cancion */
.ocultarAlerta{
    width: 0;
    height: 0;
    opacity: 0;
    visibility: hidden;
    transition:all 1s ease;
    z-index: -9999;
}
.mostrarAlerta{
    width: 100%;
    height: 100%;
    opacity: 1;
    visibility: visible;
    transition:opacity 1s ease;
    z-index: 9999;
}
.alertaCancion{
    display:flex;
    width: 100%;
    flex-direction: column;
    position: absolute;
    backdrop-filter:blur(9px);
    -webkit-backdrop-filter: blur(9px);
    height: 100vh;
    
}
.cabeceraAlert{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5px;
}.cabeceraAlert p{
    margin: 0;
}.cabeceraAlert button{
    background-color: #8190a944;
    /* background-color: transparent; */
    color:white;
    border: none;
    font-size: 16px;
    /* border-radius:10em; */
    padding: 7px 10px
}

.contPortadaCancion{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 0 0;
}.contPortadaCancion img{
    width: 50%;
    margin:10px
}
.btnSubirImg{
    background: linear-gradient(
        to bottom,
        rgba(129, 144, 169, 0),
        rgba(129, 144, 169, .55)
    );
    color:#b9b9b9;
    border:none;
    box-shadow: 0 4px 8px rgba(0,0,0, 0.1);

}
input{
    display:flex;
    align-items: center;
    /* height: 1.7em; */
    width: 70%;
    padding: 10px 5px  5px 15px;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #8d8c8c;
    color: #FFF;
    font-size: 17px;
}
input:focus{
    outline: none;
    border-bottom:2px solid2 #fff;
}
.formularioCancion{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:10px;
    margin-top:30px
}
